<div class="page-header">
  <h1>Search Results for <i><%= @search_form.q %></i></h1>
</div>

<div class="well">
  <%= link_to 'Need More Tools? - Try Our Advanced Search', search_advanced_contacts_path %>
</div>

<%= render partial: 'contacts_results', locals: {contacts: @contacts} %>
