// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-inline.addressbook-inline {
  padding-bottom: 9px;
  margin: 0px 0 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.contact
{
  border: 2px solid #DDDDDD;
  padding: 9px;
  margin-bottom: 9px;
  border-radius: 4px;
}



.addressbook-card {
  font-size: 90%;
  padding: 9px;
  min-height: 150px;
  border: 3px solid #DDDDDD;
}

.addresses-header, .phones-header {
  font-weight: bold;
  font-size: 120%;
}



.contact.addressbook-female
{
  border-color: #FFDDDD;
}

.contact.addressbook-male
{
  border-color: #DDDDFF;
}


